<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.titre %> | Express exos</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="about">About</a>
    <a href="hours">Hours</a>
    <a href="add">Add</a>
    <a href="listAdd">List-Add</a>
    <a href="about-us">About-us</a>
    <a href="tabeau-objets">Tabeau-Objets</a>
    <div class="">
        <%- include(page); -%>
    </div>
</body>
</html>